/* .formulario {

background-color: red;
padding: 30px;

.formulario_input {

    padding: 6px 10px;
    width: 100%;
    background: black;
    color: red;
    margin: 10px;
}
.formulario_submit {
letter-spacing: 2px;
text-transform: uppercase;
background-color: red;
color: white;
width: 50%;


} */
.BOX1 {
    background: red;
    height: 150px; /* La propiedad `height` está bien escrita */
    width: 150px;
    margin-bottom: 10px;  /* Corregido a `margin-bottom` */
  }
.BOX2{

    background: red;
    height:150px;
    width: 150px;
    margin-top: 30px
 }