body {

    margin: 0;
    font-family: sans-serif;
    
}
.flebox {

    display: flex;
    flex-direction: column;
    
}
.flexbox_item {
    width: 180px;
    color: #fff;    
    background-color: red;
margin: 10px;
text-align: center;


font-size: 40px;


}


.flexbox_item:first-child{
background-color: #d56;

}
.flexbox_item:last-child {

    background-color: #000e
    ;
}