/* div {
background :red;
width:150px;
margin :auto;
text-align: center;
font-size: 40px



;} */
/* div{ */
   /* border-width: 3px;
border-color: black;
border-style: solid;
border-radius: 20px; lo  mismo que esto*/
    /* border: 3px solid black; */
 /* border-top: 5px solid blue;
 border-bottom: 2px dashed yellow;
 border-radius:  10px 50px 0 4px;

} */
body {
    background-color: black;
}
input{

    margin:5px;
   
    padding : 6px 9px;
    border:none;
    border-bottom: 1px solid greenyellow;
    background: transparent;
    color: greenyellow;

}