body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box {

    width: 120px;
    height:120px;
    background-color:#f00;
    margin-top: 50px;
    font-size: 60px;
    
    transition-property: left;transition-duration: 1s;
    transition-timing-function:cubic-bezier(.62,.39,.25,.89);
    color: red;
    position: relative;
   


}
.box:hover {

    background-color: #a22;
    color: #fff;
}

body:hover .box {
background-color: blue;
left: 400px;


}