body {
    margin: auto;
    font-family: sans-serif;
}
body ,div {


box-sizing: border-box;


}
.grid{
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.item-grid {


    background-color: #48ed;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}